.bg-dark {
	background-color: rgba(52, 58, 64, .5) !important;
}

.about i {
	font-size: 52px;
	color: green;
}

header {
	position: fixed;
	width: 100%;
	z-index: 200;
}

@media only screen and (max-width: 1400px) {
	.about i {
		font-size: 40px;
		color: green;
	}
}

@media only screen and (max-width: 760px) {
	.row {
		margin: 0 !important;
	}
}
